<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("/background3.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
            margin-top: 20px;
        }
        
        /* Image + button container */
        .image-container {
            position: fixed;
            left: 50px;
            top: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #image {
            width: 193px;
            height: 300px;
        }

        .container2 {
            position: fixed;
            left: 300px;
            top: 150px;
            color: white;
            width: 300px;
            text-align: justify;
            text-justify: inter-word;
        }
        .video {
            position: fixed;
            left: 700px;
            top: 150px;
            width: 300px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cala Goloritze Beach</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <%- include('partials/navbar') %>
    
    <div class="container">
        <h1><%= actualName %></h1>
    </div>
    
    <!-- Image + Button -->
    <div class="image-container">
        <img id="image" src="/calagoloritze.png" width="193" height="300">
        <%- include('partials/want-to-go-btn') %>
    </div>
    
    <!-- Description -->
    <div class="container2">
        Soaring as New Zealand's highest peak, Aoraki / Mount Cook anchors the Southern Alps with its jagged, glaciated summit. Sacred to the Ngāi Tahu people, this alpine giant lies within a Dark Sky Reserve and was a training ground for Sir Edmund Hillary. Surrounded by turquoise lakes and ancient ice, it remains a premier destination for adventurers seeking a raw, breathtaking wilderness experience amidst the dramatic landscapes of the South Island.
    </div>
    
    <!-- Video -->
    <div class="video">
        <iframe width="500" height="315" 
            src="https://www.youtube.com/embed/9hjZQgNUHwY?si=IjoL18Rk1XZOC6nU"
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen>
        </iframe>
    </div>
    
    <%- include('partials/back-button') %>
</body>
</html>