<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("/background3.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }
        .container1 {
            position: fixed;
            left: 50px;
            top: 150px;
            color: white;
        }
        .container2 {
            position: fixed;
            left: 300px;
            top: 150px;
            color: white;
            width: 300px;
            text-align: justify;
            text-justify: inter-word;
        }
        .video {
            position: fixed;
            left: 700px;
            top: 150px;
            color: white;
            width: 300px;
            text-align: justify;
            text-justify: inter-word;
        }
        .wanttogo {
            position: fixed;
            left: 30px;
            top: 470px;
        }
        #my {
            zoom: 110%;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Matador</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container">
        <h1><%= actualName %></h1>
    </div>
    <div class="container1">
        <img src="/elmaltador.png" width="193" height="300">
    </div>
    <div class="container2">
        Located in Malibu, California, El Matador State Beach is a stunning, rugged stretch of coastline defined by massive sea stacks, deep caves, and natural rock arches. Accessible only via a steep trail and staircase descending from the bluffs, this secluded beach is famous for its cinematic scenery and tide pools.
    </div>
    <div class="wanttogo">
        <form method="POST" action="/destination/elmaltador/add">
            <button type="submit" class="btn btn-secondary ml-3">Add to Want-to-Go List</button>
        </form>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/AvvNzjdbRRU?si=GxU-oaSom5fTqpj6" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
    </div>
    <%- include('partials/back-button') %>
</body>
</html>
