<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("/background3.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
            margin-top: 20px;
        }
        
        .image-container {
            position: fixed;
            left: 50px;
            top: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #image {
            width: 193px;
            height: 300px;
        }

        .container2 {
            position: fixed;
            left: 300px;
            top: 150px;
            color: white;
            width: 300px;
            text-align: justify;
            text-justify: inter-word;
        }
        .video {
            position: fixed;
            left: 700px;
            top: 150px;
            width: 300px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inca Trail to Machu Picchu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <%- include('partials/navbar') %>
    
    <div class="container">
        <h1><%= actualName %></h1>
    </div>
    
    <div class="image-container">
        <img id="image" src="/inca.png" width="193" height="300">
        <%- include('partials/want-to-go-btn') %>
    </div>
    
    <div class="container2">
        Peru's Inca Trail is perhaps the world's greatest hike because it combines the best of both types of travel: a four-to-five day walk to the spectacular lost city of Machu Picchu that winds through the zone where the snowcapped Andes Mountains crash into the lush Amazon jungle.
    </div>
    
    <div class="video">
        <iframe width="500" height="315"
            src="https://www.youtube.com/embed/jEO3gYhdkJo?si=CaLzHA5AT2yLXPfV"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
        </iframe>
    </div>
    
    <%- include('partials/back-button') %>
</body>
</html>